.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: -6rem;

  @include mediaQuery(tab-land) {
    margin-top: 0;
  }

  @include mediaQuery(tab-port) {
    flex-direction: column-reverse;
  }

  &__img {
    width: 55%;

    @include mediaQuery(tab-port) {
      width: 100%;
      margin-bottom: 4rem;
      margin-top: 6rem;
      padding: 4rem 8rem;
    }

    @include mediaQuery(phone) {
      padding: 0;
    }

    & > img {
      width: 100%;

      @include mediaQuery(tab-port) {
        transform: scale(1.2);
      }
    }
  }

  &__text {
    width: 40%;

    @include mediaQuery(tab-port) {
      width: 100%;
      text-align: center;
    }
  }
}
